.pagination-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  justify-content: space-around;
}

.pagination-container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  max-width: 400px; /* Adjust this to fit your table width */
  padding: 10px;
}

.pagination {
  display: flex;
  gap: 10px;
}

.pagination button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.pagination button.active {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-container::-webkit-scrollbar {
  height: 6px;
}

.pagination-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.prev-button,
.next-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.prev-button:disabled,
.next-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
